{% extends "base.html" %}

{% block title %}Запись на прием | {{ block.super }}{% endblock %}

{% block content %}
<main class="container">
    <div class="row justify-content-center">
        <div class="col-lg-9 mb-3">
            <h2>Запись на прием</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-9 mb-3">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
            {% endfor %}
            {% endif %}
            {% block user_questions %}{% endblock %}
        </div>
    </div>
    <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="row g-4 justify-content-center mb-3">
            <div class="col-lg-3">
                <div class="form-floating">
                    {% if user.is_authenticated %}
                    <input type="text" class="form-control" id="id_name" value="{{ user.first_name }}" disabled>
                    {% else %}
                    {{ form.name }}
                    {% endif %}
                    <label for="id_name">Имя</label>
                    {% if form.name.errors %}
                    <div id="id_name" class="invalid-feedback">
                        {% for error in form.name.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-floating">
                    {% if user.is_authenticated %}
                    <input type="text" class="form-control" id="staticEmail" value="{{ user.email }}" disabled>
                    {% else %}
                    {{ form.email }}
                    {% endif %}
                    <label for="staticEmail">Email</label>
                    {% if form.email.errors %}
                    <div id="id_email" class="invalid-feedback">
                        {% for error in form.email.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-floating">
                  {{ form.phone_number }}
                  <label for="id_phone_number">{{ form.phone_number.label}}</label>
                  {% if form.phone_number.errors %}
                  <div id="id_phone_number" class="invalid-feedback">
                      {% for error in form.phone_number.errors %}
                        {{ error }}
                      {% endfor %}
                  </div>
                  {% endif %}
                </div>
            </div>
        </div>
        <div class="row g-4 justify-content-center mb-3">
            <div class="col-lg-5">
                <div class="form-floating" data-url="{% url 'appointment:get_clinics' %}">
                    {{ form.clinic }}
                    <label for="id_clinic">{{ form.clinic.label }}</label>
                    {% if form.clinic.errors %}
                    <div id="id_clinic" class="invalid-feedback">
                        {% for error in form.clinic.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-floating" data-url="{% url 'appointment:get_dates' %}">
                    {{ form.date}}
                    <label for="id_date">{{ form.date.label }}</label>
                    {% if form.date.errors %}
                    <div id="id_date" class="invalid-feedback">
                        {% for error in form.date.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-floating" data-url="{% url 'appointment:get_timetable' %}">
                    {{ form.time}}
                    <label for="id_time">{{ form.time.label }}</label>
                    {% if form.time.errors %}
                    <div id="id_time" class="invalid-feedback">
                        {% for error in form.time.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row justify-content-center mb-3">
            <div class="col-lg-9">
                <div class="form-floating">
                    {{ form.description}}
                    <label for="id_description">{{ form.description.label }}</label>
                    {% if form.description.errors %}
                    <div id="id_description" class="invalid-feedback">
                        {% for error in form.description.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row justify-content-center mb-2">
            <div class="col-lg-9 d-grid gap-2">
                <button type="submit" class="btn btn-primary btn-lg">Записаться на прием</button>
            </div>
        </div>
        <div class="row justify-content-center text-center">
            <div class="col-lg-9">
                <div class="mb-2"><small class="text-muted">Все поля данной формы обязытельны для заполнения.</small></div>
                {% if user.is_authenticated %}
                <div class="mb-2"><small class="text-muted">Поля "Имя" и "Электронная почта" можно изменить в настройках профиля.</small></div>
                {% endif %}
            </div>
        </div>
    </form>
    {% for e in form.non_field_errors %}
    <div class="alert alert-danger">{{ e }}</div>
    {% endfor %}
</main>
{% endblock %}
{% load static %}

{% block script %}
<script type="module" src="{% static 'appointment/appointment.js' %}"></script>
{% endblock %}