{% extends "base.html" %}

{% block title %}Главная | {{ block.super }}{% endblock %}

{% load static %}

{% block content %}
<style>
    @media (min-width: 62em) {
      .featurette-heading {
        margin-top: 8rem;
      }
    }
    .text-start{
        min-height: 14rem;
    }
    .marketing .col-lg-4 {
      margin-bottom: 1.5rem;
      text-align: center;
    }
    .marketing h2 {
      font-weight: 400;
    }
    .marketing .col-lg-4 p {
      margin-right: .75rem;
      margin-left: .75rem;
    }
</style>

<main class="container mb-5">
    <div class="row featurette">
        <div class="col-md-5">
            <img src="{% static 'profile.png' %}" alt="">
        </div>
        <div class="col-md-7 pt-2">
            <h1 class="featurette-heading display-5 text-lg-start text-center">Екатерина Бахур</h1>
            <h2 class="text-muted display-6 text-lg-start text-center">стоматолог-ортодонт</h2>
            <p class="lead text-lg-start text-center">Оказание профессиональных ортодонтических услуг любой сложности с применением самых совеременных практик.</p>
            <div class="d-flex justify-content-center d-lg-inline-flex">
                <a class="btn btn-outline-primary btn-lg" href="{% url 'about' %}">О враче</a>
            </div>

        </div>
    </div>
    <div class="container marketing mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <img class="rounded-circle" width="140" height="140" src="{% static '3.png' %}" alt="">
                <h2>Опыт других<br>пациентов</h2>
                <p>На сайте собран опыт десятков пациентов, успешно завершивших свое лечение. Среди их вопросов может найтись решение Вашей проблемы</p>
                <p><a class="btn btn-outline-primary" href="{% url 'ask:index' %}">Все вопросы</a></p>
            </div>
            <div class="col-lg-4">
                <img class="rounded-circle" width="140" height="140" src="{% static '2.png' %}" alt="">
                <h2>Личный<br>кабинет</h2>
                <p>Создайте личный кабинет, через который Вы сможете легко управлять своими записями, задавать вопросы специалисту и оставлять отзывы</p>
                <p><a class="btn btn-outline-primary" href="{% if user.id %}{% url 'user' user.id %}{% else %}{% url 'signup' %}{% endif %}">Зарегистрироваться</a></p>
            </div>
            <div class="col-lg-4">
                <img class="rounded-circle" width="140" height="140" src="{% static '1.png' %}" alt="">
                <h2>Запишитесь<br>на прием</h2>
                <p>Если Вы уже изучили много информации в интернете, но до сих пор не знаете, куда двигаться, запишитесь на бесплатную консультацию</p>
                <p><a class="btn btn-outline-primary" href="{% url 'appointment:index' %}">Записаться</a></p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center my-5">
        <div>
            <h3><a style="color: black; text-decoration: none;" href="{% url 'feedback:index' %}">Отзывы пациентов</a></h3>
        </div>
        <div id="myCarousel" class="carousel carousel-dark slide p-3" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="text-start d-flex align-items-center">
                        <blockquote class="blockquote mx-5">
                            <p class="font-italic lead"> <i class="fa fa-quote-left mr-3 me-3 text-secondary"></i>
                                <em><a style="text-decoration: none;" class="text-dark" href="{% url 'feedback:index' %}">{{ feedback1.comment|truncatechars:380 }}</a></em>
                            </p>
                            <footer class="blockquote-footer mt-2">{{ feedback1.name }}, {{ feedback1.date|date:'j E o' }}
                            </footer>
                        </blockquote>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="text-start d-flex align-items-center">
                        <blockquote class="blockquote mx-5">
                            <p class="font-italic lead"> <i class="fa fa-quote-left mr-3 me-3 text-secondary"></i>
                                <em><a style="text-decoration: none;" class="text-dark" href="{% url 'feedback:index' %}">{{ feedback2.comment|truncatechars:380 }}</a></em>
                            </p>
                            <footer class="blockquote-footer mt-2">{{ feedback2.name }}, {{ feedback2.date|date:'j E o' }}
                            </footer>
                        </blockquote>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="text-start d-flex align-items-center">
                        <blockquote class="blockquote mx-5">
                            <p class="font-italic lead"> <i class="fa fa-quote-left mr-3 me-3 text-secondary"></i>
                                <em><a style="text-decoration: none;" class="text-dark" href="{% url 'feedback:index' %}">{{ feedback3.comment|truncatechars:380 }}</a></em>
                            </p>
                            <footer class="blockquote-footer mt-2">{{ feedback3.name }}, {{ feedback3.date|date:'j E o' }}
                            </footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="mb-4">
            <h3 id="make-appointment"><a style="color: black; text-decoration: none;" href="{% url 'appointment:index' %}">Запись на прием</a></h3>
        </div>
        <div class="col-lg-7">
            <form method="post" class="needs-validation" action="{% url 'appointment:index' %}" novalidate>
                {% csrf_token %}
                <div class="row g-4 mb-3">
                    <div class="col-lg-4">
                        <div class="form-floating">
                            {% if user.is_authenticated %}
                            <input type="text" class="form-control" id="id_name" value="{{ user.first_name }}" disabled>
                            {% else %}
                            {{ form.name }}
                            {% endif %}
                            <label for="id_name">Имя</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-floating">
                            {% if user.is_authenticated %}
                            <input type="text" class="form-control" id="staticEmail" value="{{ user.email }}" disabled>
                            {% else %}
                            {{ form.email }}
                            {% endif %}
                            <label for="staticEmail">Email</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-floating">
                          {{ form.phone_number }}
                          <label for="id_phone_number">{{ form.phone_number.label}}</label>
                        </div>
                    </div>
                </div>
                <div class="row g-4 mb-3">
                    <div class="col-lg-6">
                        <div class="form-floating" data-url="{% url 'appointment:get_clinics' %}">
                            {{ form.clinic }}
                            <label for="id_clinic">{{ form.clinic.label }}</label>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-floating" data-url="{% url 'appointment:get_dates' %}">
                            {{ form.date}}
                            <label for="id_date">{{ form.date.label }}</label>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-floating" data-url="{% url 'appointment:get_timetable' %}">
                            {{ form.time}}
                            <label for="id_time">{{ form.time.label }}</label>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-lg">
                        <div class="form-floating">
                            {{ form.description}}
                            <label for="id_description">{{ form.description.label }}</label>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-lg-12 d-grid gap-2">
                        <button type="submit" class="btn btn-primary btn-lg">Записаться на прием</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-5">
            <p style="line-height: 1.2;"><small class="text-muted">Клиники, в которых можно воспользоваться услагами Екатерины, расположены в удобных локациях города Краснодара. Выберите удобную для Вас на карте:</small></p>
            <div class="ratio ratio-16x9 justify-content-center">
                <div id="map"></div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% load static %}

{% block script %}
<script src="{% static 'appointment/appointment.js' %}" type="module"></script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=b5d82f06-3c11-495e-8461-74b818294a04" type="text/javascript"></script>
<script src="{% static 'index/maps.js' %}" type="text/javascript"></script>
{% endblock %}
