{% extends "base.html" %}

{% block title %}Главная | {{ block.super }}{% endblock %}

{% block content %}
<style>
@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
</style>
<main class="container">
    <div class="row featurette">
        <div class="col-md-7 align-items-center">
            <h2 class="featurette-heading">Стоматолог-ортодонт Екатерина Бахур <span class="text-muted">It’ll blow your mind.</span></h2>
            <p class="lead">Оказание профессиональных ортодонтических услуг любой сложности с применением самых совеременных практик.</p>
        </div>
        <div class="col-md-5">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
        </div>
    </div>




    <div class="bg-light p-5 rounded">
        <h1>Стоматолог-ортодонт Екатерина Бахур</h1>
        <p class="lead">This example is a quick exercise to illustrate how fixed to top navbar works. As you scroll, it will remain fixed to the top of your browser’s viewport.</p>
        <a class="btn btn-lg btn-primary" href="#" role="button">О враче</a>
    </div>
</main>
{% endblock %}