{% extends "base.html" %}

{% block title %}Вход | {{ block.super }}{% endblock %}

{% block content %}

<main class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form class="signup" action="" method="post">
                    {% csrf_token %}
                    <h1 class="h3 mb-3 fw-normal">Вход</h1>
                    {{ form.username }}
                    {{ form.password }}
                    <div class="checkbox mb-3">
                        <label>{{ form.remember_me }} {{ form.remember_me.label }}</label>
                    </div>
                    <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>
                    {% if error_message %}<div style="color:red; padding:20px">{{ error_message }}</div>{% endif %}
                    <div>
                        <small class="text-muted">Еще не зарегистрированы? <a class="ml-2" href="{% url 'signup' %}">Зарегистрироваться</a></small>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

{% endblock %}