{% extends "base.html" %}
{% block title %}Вход | {{ block.super }}{% endblock %}
{% block content %}
<main class="container pb-5 mb-5">
    <div class="row justify-content-center text-center">
        <div class="col-md-4">
            <form class="signup" method="post">
                {% csrf_token %}
                <h1 class="h3 mb-3 fw-normal">Вход</h1>
                {{ form.email }}
                {{ form.password }}
                <div class="checkbox mb-3">
                    <label>{{ form.remember_me }} {{ form.remember_me.label }}</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>
                {% if request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}">
                {% endif %}
            </form>
            {% if error_message %}<div style="color:red">{{ error_message }}</div>{% endif %}
            <div class="mt-2">
                <small class="text-muted">Еще не зарегистрированы? <a class="ml-2" href="{% url 'signup' %}">Зарегистрироваться</a></small>
            </div>
        </div>
    </div>
</main>
{% endblock %}