{% extends "base.html" %}
{% block title %}Регистрация | {{ block.super }}{% endblock %}
{% block content %}
<main class="container">
    <div class="row justify-content-center text-center">
        <div class="col-md-4">
            {% for e in form.non_field_errors %}
            <div class="alert alert-danger">{{ e }}</div>
            {% endfor %}
            <form class="signup" method="post">
                {% csrf_token %}
                <h1 class="h3 mb-3 fw-normal">Регистрация</h1>
                {{ form.first_name }}
                {{ form.last_name }}
                {{ form.email }}
                {{ form.password1 }}
                {{ form.password2 }}
                <div class="checkbox mb-3">
                    <label>{{ form.remember_me }} {{ form.remember_me.label }}</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Зарегистрироваться</button>
            </form>
            {% for field in form %}
            {% if field.errors %}
            <dev style="color: red;">{{ field.errors }}</dev>
            {% endif %}
            {% endfor %}
            <div>
                <div class="mb-2"><small class="text-muted">* Обязательные для заполнения поля</small></div>
                <div class="mb-2"><small class="text-muted">{{ form.password1.help_text }}</small></div>
            </div>
            <div>
                <small class="text-muted">Уже зарегистрированы? <a class="ml-2" href="{% url 'login' %}">Войти</a></small>
            </div>
        </div>
    </div>
</main>
{% endblock %}