{% extends "user_base.html" %}
{% block user_questions %}
            <div class="mb-3">
                <h5>Последние вопросы от пользователя {{ userdata.first_name }}</h5>
            </div>
            {% if userdata.question_set.all %}
            {% for question in page_obj %}
            <div class="card mb-2">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">Дата: {{ question.date|date:'j E o' }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Ответы: {{ question.answers_count }}</h6>
                    <h5 class="card-title"><a style="color: black; text-decoration: none;" href="{% url 'ask:question' question.id %}">{{ question.title }}</a></h5>
                    <p class="card-text support-line-breaks">{{ question.text }}</p>
                    <button class="like-btn btn btn-sm btn-primary {% if user in question.like.all %}active{% endif %} float-end" type="submit" data-url="{% url 'ask:like' question.id %}" data-qid="{{question.id}}"><i class="far fa-thumbs-up"></i> <span class="like_count">{{ question.like.count }}</span></button>
                </div>
            </div>
            {% endfor %}
            {% if page_obj.paginator.num_pages > 1 %}
            <nav>
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link text-primary" href="?page=1">Первая</a>
                    </li>
                    {% if page_obj.number|add:'-2' > 0 %}
                    <li class="page-item">
                        <a class="page-link text-primary" href="?page={{ page_obj.number|add:'-2' }}">{{ page_obj.number|add:'-2' }}</a>
                    </li>
                    {% endif %}
                    <li class="page-item">
                        <a class="page-link text-primary" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link text-primary" href="#" disabled>Первая</a>
                    </li>
                    {% endif %}
                    <li class="page-item active">
                        <span class="page-link bg-primary">{{ page_obj.number }}</span>
                    </li>
                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link text-primary" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                    </li>
                    {% if page_obj.number|add:'2' <= page_obj.paginator.num_pages %}
                    <li class="page-item">
                        <a class="page-link text-primary" href="?page={{ page_obj.number|add:'2' }}">{{ page_obj.number|add:'2' }}</a>
                    </li>
                    {% endif %}
                    <li class="page-item">
                        <a class="page-link text-primary" href="?page={{ page_obj.paginator.num_pages }}">Последняя</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link text-primary" href="#">Последняя</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
            {% else %}
            <p>Пользователь {{ userdata.first_name }} пока не задавал вопросы.</p>
            {% endif %}
{% endblock %}
