{% extends "user_base.html" %}
{% block user_questions %}
                    <div class="mb-3">
                        <h5>Изменить профиль</h5>
                    </div>
                    <form class="signup" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ u_form.first_name.label }}
                        {{ u_form.first_name }}
                        {{ u_form.last_name.label }}
                        {{ u_form.last_name }}
                        {{ u_form.email.label }}
                        {{ u_form.email }}
                        {{ p_form.image.label }}<br>
                        {{ p_form.image }}
                        <button class="w-100 btn btn-lg btn-primary" type="submit">Сохранить изменения</button>
                        {% for field in u_form %}
                        {% if field.errors %}
                        <div class="text-center" style="color: red;">{{ field.errors }}</div>
                        {% endif %}
                        {% endfor %}
                        {% for field in p_form %}
                        {% if field.errors %}
                        <div class="text-center" style="color: red;">{{ field.errors }}</div>
                        {% endif %}
                        {% endfor %}
                    </form>
{% endblock %}
