{% extends "user_base.html" %}
{% block user_questions %}
                    <div class="mb-3">
                        <h5>Записи на прием</h5>
                    </div>
                    {% if future_appointments %}
                    {% for appointment in future_appointments %}
                    <div class="card mb-2">
                        <div class="card-body">
                            <h6 class="card-title mb-3">Прием в клинике "{{ appointment.clinic }}"</h6>
                            <h6 class="card-subtitle mb-2 text-muted">Дата приема: {{ appointment.date }}</h6>
                            <h6 class="card-subtitle mb-2 text-muted">Время приема: {{ appointment.time }}</h6>
                            <a href="{% url 'appointment:delete_appointment' appointment.id %}" class="btn btn-primary btn-sm mt-2">Отменить запись</a>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <dev>У вас пока нет предстоящих записей на прием. Вы можете записаться <a href="{% url 'appointment:index' %}">здесь</a>.</dev>
                    {% endif %}

                    <div class="my-3">
                        <h5>Состоявшиеся приемы</h5>
                    </div>
                    {% if past_appointments %}
                    {% for appointment in past_appointments %}
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title mb-3">Прием в клинике "{{ appointment.clinic }}"</h6>
                            <h6 class="card-subtitle mb-2 text-muted">Дата приема: {{ appointment.date }}</h6>
                            <h6 class="card-subtitle mb-2 text-muted">Время приема: {{ appointment.time }}</h6>
                            <a href="{% url 'feedback:index' %}?appointment={{ appointment.id }}" class="btn btn-primary btn-sm mt-2">Оставить отзыв</a>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <dev>У вас пока нет состоявшихся приемов.</dev>
                    {% endif %}
{% endblock %}
