{% extends "base.html" %}

{% block title %}Задать вопрос | {{ block.super }}{% endblock %}

{% block content %}
<main class="container">
    <div>
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
        {% endfor %}
        {% endif %}
    </div>
    <form>
        <div class="row justify-content-center align-items-center g-2">
            <div class="col-auto">Сортировать по</div>
            <div class="col-auto">{{ form.order_by }}</div>
        </div>
    </form>
    <div id="question-list" data-url="{% url 'ask:question_ajax' %}"></div>
    <div hidden id="spinner"></div>
    <nav>
        <ul class="pagination justify-content-center" id="pagination"></ul>
    </nav>
</main>
{% endblock %}
{% load static %}
{% block script %}
<script type="module" src="{% static 'index/ask-index.js' %}"></script>
{% endblock %}