{% extends "base.html" %}

{% block title %}Задать вопрос | {{ block.super }}{% endblock %}

{% block content %}
<main class="container">
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <div class="text-center" style="margin: 20px;">
        <h1>Задайте вопрос врачу-ортодонту</h1>
        <a class="btn btn-primary btn-lg" href="{% url 'ask:ask_question' %}" role="button">Задать вопрос</a>
    </div>
    {% if question_list %}
        {% for question in question_list %}

        <div class="row justify-content-center">
            <div class="card" style="margin: 10px; width: 50rem;">
                <div class="card-body">
                    <div class="mask" style="float:left">
                        <img src="{{ question.author.profile.image.url }}" class="card-img-top" alt="...">
                    </div>
                    <div style="margin: 40px">
                        {% if question.author.id %}
                        <h6 class="card-subtitle mb-2 text-muted">Автор: <a style="color: gray; text-decoration: none;" href="{% url 'user' question.author.id %}">{{ question.author }}</a></h6>
                        {% endif %}
                        <h6 class="card-subtitle mb-2 text-muted">Дата: {{ question.date }}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Ответов: {{ question.answers_count }}</h6>
                    </div>
                    <h5 class="card-title">{{ question.title }}</h5>
                    <p class="card-text">{{ question.text }}</p>
                    <a href="{% url 'ask:question' question.id %}" class="btn btn-primary">Посмотреть ответы</a>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
            <p>Здесь еще нет вопросов.</p>
    {% endif %}
</main>

{% endblock %}