{% extends "base.html" %}

{% block title %} {{question }} | {{ block.super }}{% endblock %}

{% block content %}
<main class="container">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}
    <div class="row justify-content-center my-3">
        <div class="col-sm col-md-10">
            <div class="card">
                <div class="card-body">
                   <div class="clearfix">
                       {% if user.id == question.author.id %}
                       <a href="{% url 'ask:delete_question' question.id %}" class="float-end" style="color:gray" onclick="return confirm('Вы уверены?');"><i class="far fa-trash-alt"></i></a>
                       <a href="#" data-url="{% url 'ask:edit_question' question.id %}" class="float-end me-2" style="color:gray" id="edit-button"><i class="far fa-edit"></i></a>
                       {% endif %}
                       <div class="user-pic-question float-start mb-3">
                           <img src="{{ question.author.profile.image.url }}" alt="{{ question.author.first_name }}">
                       </div>
                       <div class="float-start mt-4 pt-2 ms-3">
                           <h6 class="card-subtitle mb-2 text-muted">Автор: <a style="color: gray; text-decoration: none;" href="{% url 'user' question.author.id %}">{{ question.author.first_name }}</a></h6>
                           <h6 class="card-subtitle mb-2 text-muted">Дата: {{ question.date|date:"j E Y" }}</h6>
                       </div>
                    </div>
                    <div id="edit-field">
                        <h5 class="card-title">{{ question.title }}</h5>
                        <p class="card-text support-line-breaks">{{ question.text }}</p>
                    </div>

                    <button class="like-btn btn btn-sm btn-primary {% if user in question.like.all %}active{% endif %} float-end" type="submit" data-url="{% url 'ask:like' question.id %}" data-qid="{{question.id}}"><i class="far fa-thumbs-up"></i> <span class="like_count">{{ question.like.count }}</span></button>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <h3>Ответы:</h3>
    </div>
    {% if question.answer_set.all %}
    {% for answer in question.answer_set.all %}
    <div class="row justify-content-center my-3">
        <div class="col-sm col-md-9">
            <div class="clearfix">
                {% if user.id == answer.author.id %}
                <a href="{% url 'ask:delete_answer' answer.id %}" class="float-end me-2" style="color:gray" onclick="return confirm('Вы уверены?');"><i class="far fa-trash-alt"></i></a>
                {% endif %}
                <div class="user-pic-answer float-start mb-3">
                    <img src="{{ answer.author.profile.image.url }}" alt="{{ answer.author.first_name }}">
                </div>
                <div class="float-start mt-1 ms-3">
                    <h6 class="mb-1 text-muted">Автор: <a style="color: gray; text-decoration: none;" href="{% url 'user' answer.author.id %}">{{ answer.author.first_name }}</a></h6>
                    <h6 class="mb-1 text-muted">Дата: {{ answer.date|date:"j E Y" }}</h6>
                </div>
            </div>
            <p class="mx-2 support-line-breaks">{{ answer.text }}</p>
            <hr>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="text-center">
        <p>Пока здесь нет ответов. Вы можете стать первым</p>
    </div>
    {% endif %}
    <div class="text-center">
        <h3>Предложите свой ответ:</h3>
    </div>
    {% if user.is_authenticated %}
    <div class="row justify-content-center">
        <div class="col-md-9">
            <form method="post">
                {% csrf_token %}
                {{ reply_form.text }}
                <input class="btn btn-primary my-2" type="submit" value="Ответить"">
            </form>
        </div>
    </div>
    {% else %}
    <div class="row text-center my-3">
        <p>Для добавления ответа Вам необходимо <a href="{% url 'login' %}?next={% url 'ask:question' question.id %}">войти на сайт</a> или <a href="{% url 'signup' %}">зарегистрироваться</a>.</p>
    </div>
    {% endif %}
</main>
{% endblock %}
{% load static %}
{% block script %}
<script type="module" src="{% static 'ask/question.js' %}"></script>
{% endblock %}
